{% extends "social/user_profile.html" %}
{% load staticfiles %}
{% block favorite_book_active %}
<li class="active">
  <a href="{% url 'social:user_favorite_books' username=user.username %}"><i class="icon-star"></i> Favorite Books</a>
</li>
{% endblock favorite_book_active %}

{% block right_sidebox %}
  <div class="sidebox post">
    <p>
      <b>{{ user.first_name|capfirst }}'s Favorite Books</b>
      {% include 'social/favorite_books_page.html' %}
    </p>

  </div>
{% endblock right_sidebox %}