{% extends "base/profile_base.html" %}
{% load avatar_tags %}

{% load staticfiles %}
{% load endless %}
{% load thumbnail %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block sidebar %}
<div class="row-fluid">
  <div class="span12">
    <script type="text/javascript">
      //TODO: It's very dirty code
      function close_1(){
        $('#follow_suggestion_1').remove();
      }
      function close_2(){
        $('#follow_suggestion_2').remove();
      }
      function close_3(){
        $('#follow_suggestion_3').remove();
      }
      function follow_request_callback_1(data){
        alert(data.done);
        close_1();
      }
      function follow_request_callback_2(data){
        alert(data.done);
        close_2();
      }
      function follow_request_callback_3(data){
        alert(data.done);
        close_3();
      }
    </script>

        <ul class="nav nav-tabs nav-stacked" style="margin-left: .5em; margin-right: -.5em;">
          <li class="active">
            <a href="#"><i class="icon-home"></i> Home</a>
          </li>
          <li>
            <a href="{% url 'social:profile' %}"><i class="icon-user"></i> Profile<i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          <li>
            <a href="{% url 'social:followers' %}"><i class="icon-eye-open"></i> Followers 
              <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          <li>
            <a href="{% url 'social:following' %}"><i class="icon-heart"></i> Following <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
          <li>
            <a href="{% url 'social:favorite_books' %}"><i class="icon-star"></i> Favorite Books <i class="icon-chevron-right" style="float:right"></i></a>
          </li>
        </ul>


    <div class="row-fluid">
      <h4 class="sidebox-head">Do you know...?</h4> 
      <div class="span12 simple_box">


        <!--# TODO : ISSUE #54-->
        <ul class="thumbnails span10 offset1">
          <div class="row-fluid">
            <li class="span3">
              <a href="#" class="thumbnail">
                {% avatar suggestion_list.0 %}
              </a>
            </li>
            <div class="span9 suggestion-info">
              <div class="username">
                <a href="#">{{ suggestion_list.0.get_full_name }}</a>
              </div>
              <div class="small-info">
                3 Mutual friends
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <li class="span3">
              <a href="#" class="thumbnail">
                {% avatar suggestion_list.1 %}
              </a>
            </li>
            <div class="span9 suggestion-info">
              <div class="username">
                <a href="#">{{ suggestion_list.1.get_full_name }}</a>
              </div>
              <div class="small-info">
                3 Mutual friends
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <li class="span3">
              <a href="#" class="thumbnail">
                {% avatar suggestion_list.2 %}
              </a>
            </li>
            <div class="span9 suggestion-info">
              <div class="username">
                <a href="#">{{ suggestion_list.2.get_full_name }}</a>
              </div>
              <div class="small-info">
                3 Mutual friends
              </div>
            </div>
          </div>

        </ul>

          <!--
        <p id='person_box'>
          <div id='follow_suggestion_1'>
            <button class="close" id="close_button_1" onmousedown="close_1()">&times;</button>
            {{ suggestion_list.0 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_1,{'following_id': {{suggestion_list.0.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_2' id="close_button_2" onmousedown="close_2()">
            <button class="close">&times;</button>
            {{ suggestion_list.1 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_2,{'following_id': {{suggestion_list.1.id }}})">Follow</a>
          </div>
          <div id='follow_suggestion_3' id="close_button_3" onmousedown="close_3()">
            <button class="close">&times;</button>
            {{ suggestion_list.2 }} <a onmousedown="Dajaxice.darkoob.social.follow_request(follow_request_callback_3,{'following_id': {{suggestion_list.2.id }}})">Follow</a>
          </div>
          </p>-->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <div class="row-fluid">

      <h4 class="sidebox-head">Received a book?</h4>
      <div class="span12 simple_box">

        <p>
          Did a book hop to you? Submit the private key here:
        <form class="form-inline" onsubmit="return false;">
          <input type="text" class="input-medium" placeholder="Private Key" autocomplete="off" data-toggle="tooltip" id='id_private_key' > 

          <button id='check_primary_key' data-toggle="button" data-loading-text="loading stuff..." class="btn btn-primary" data-complete-text="finished!" onclick="Dajaxice.darkoob.migration.submit_key(submit_private_key_callback,{'private_key': $('#private_key').val() })">Submit</button>
        </form>
        <em>or <a href="{% url 'migration:new_migration' %}">Start a new book migration</a></em>
<!--         <button class="btn btn-large btn-block btn-primary" type="button">Start New Migration</button> -->

        </p>
      </div> <!-- span10 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <h4 class="sidebox-head">Groups</h4>
      <div class="span12 simple_box groups">
        <p>You own</p>
        <ul>
          {% for group in admin_groups %}
            <li>
              <a href="{% url 'group:group_page' group_id=group.id group_name=group.name %}"><i class="icon-th"></i>{{ group.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <p>You are a member of</p>
        <ul>
          {% for group in groups %}
            <li>
              <a href="{% url 'group:group_page' group_id=group.id group_name=group.name %}"><i class="icon-th"></i>   {{ group.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <br /><em>or <a href="{% url 'group:create_group' %}">create a new group.</a></em>
      </div> <!-- span12 -->
    </div> <!-- row -->
    <div class="row-fluid">

      <h4 class="sidebox-head">Deadlines</h4>
      <div class="span12 simple_box">
        <div class="accordion" id="deadlines">
          {% for book in book_deadlines %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#deadlines" href="#collapseDetail">
                <i class="icon-book"></i>   {{ book.0 }}
              </a>
            </div>
            <div id="collapseDetail" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul>
                {% for deadline in book.1 %}
                <li style="display:block">
                <div class="progress 
                    {% if deadline.time_percentage > 90 %} progress-danger
                    {% else %}{% if deadline.time_percentage > 60 %} progress-warning 
                    {% else %} progress-success
                    {% endif %} {% endif %}"
                    style="width: 88%;">

                  <div class="bar" style="width: {% if deadline.time_percentage < 3 %} 3{% else %}{{ deadline.time_percentage }}{%endif%}%"></div>
                </div>
                </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div> <!-- span10 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock sidebar %}

{% block main %}
<div class="row-fluid">
  <div class="span11 offset1">
    <div class="row-fluid">
      <div class="span12">
        <div class="quote">
          <blockquote>
            <p>{{ quote.text }}</p><!-- Those who mind don't matter, and those who matter don't mind. -->
            {% if quote.author %}
              <small>
                {{ quote.author }}{% if quote.book %} ({{ quote.book }}){% endif %}
              </small>
            {% endif %}<!-- Bernard M. Baruch -->
            
            <a href="#"
              onclick="javascript:Dajaxice.darkoob.social.set_my_quote(
              set_my_quote_callback, {'quote_id': {{ quote.id }} })">
              <i data-toggle="tooltip" id="set_quote" class="icon-ok pull-right">
              </i>
            </a>
          </blockquote>
        </div> <!-- quote -->
      </div> <!-- span12 -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox">
          <div class="row-fluid">
            <div class="span7 new_post_container">
              <form method="post" action="{% url "social:new_post" %}">
                {% csrf_token %}
                {{ new_post_form.text }}
              </form>
            </div>
            <div class="span1 new_post_button">
              <button class="btn btn-inverse" onclick="Dajaxice.darkoob.social.submit_post(Dajax.process, {'text': $('#id_text').val()})">Post</button>
            </div>
          </div> <!-- row -->
        </div> <!-- sidebox -->
      </div> <!-- span12 -->
    </div> <!-- row -->

    <h4 class="migrations-link migrations-link-inactive pull-right"><i class="icon-chevron-left"></i>MIGRATIONS</h4>
    <div class="migrations">
      <div class="row-fluid">
        <div class="span12 sidebox">
          <div>
            {% for migration in migrations %}
              <div class="migration">

                <div class="migration-book">
                  <a style="Display:none">{{ migration.book.title }}</a>
                  {% thumbnail migration.book.thumb "50x50" crop="center" as im %}
                    <img rel="tooltip" title="d" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% endthumbnail %}
                </div> <!-- migration-book -->

                <div class="offset1" style="display: inline-block;">
                  <div class="migration-hop" style="display: inline-block;">
                    <a style="Display:none">{{ migration.starter.get_full_name }}</a>
                    {% avatar migration.starter 30%}
                  </div>

                  {% for hop in migration.hop_set.all|slice:":"|dictsort:"received_time" %}
                    <i class="icon-chevron-right"></i>
                    <div class="migration-hop" style="display: inline-block;">
                      <a style="Display:none">{{ hop.host.get_full_name }}</a>
                      {% avatar hop.host 30 %}
                    </div>
                  {% endfor %}
                </div>

              </div> <!-- migration -->
            {% endfor %}

            <script type="text/javascript">         

            $('.migration-book, .migration-hop').each(function(){

              $($(this).children()[1]).removeAttr('data-original-title')
              $($(this).children()[1]).attr('title',$(this).children()[0].text)
              $($(this).children()[1]).tooltip({
                'placement': 'bottom'
              });
            });

            </script>
          </div>
        </div> <!-- span12 -->
      </div> <!-- row -->
    </div> <!-- migrations -->

    <div id="id_new_post_position">
    </div>

    <div class="row-fluid">
      <div class="span12">
        {% include 'post/posts.html' %}
      </div>
    </div>

  </div> <!-- span11 -->
</div> <!-- row -->
{% endblock main %}

{% block bottom_js %}
{{ block.super }}
<script>
  $("#set_quote").tooltip({
    title: "Set as favorite",
    placement: "right",
  });
  $('.noks').tooltip({
    title: 'Nok',
    placement: 'right',
  });
</script>
<script type="text/javascript" src="{% static "/static/js/home.js" %}"></script>
{% endblock bottom_js %}
