{% load endless %}
{% load avatar_tags %}
{% paginate 1,1 person %}
{% for user in person %}
<div class="row-fluid">
  <div class="span12">
    <div class="sidebox post">
      <div class="row-fluid">
        <div class="media">
          <a class="pull-left" href="#">
            {% avatar user 70%}
          </a>
          <div class="media-body">
            <a href="{% url 'social:user_profile' username=user.username %}"><b>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</b></a>
            <br>
            <a class="btn btn-medium" href="#" style="float:right"><i class="icon-eye-open"></i></a>

            {{ user.userprofile.sex }}<br/>
            {% if user.userprofile.city %}{{ user.userprofile.city|capfirst }}/{{user.userprofile.city.country|capfirst}}{% endif %}
          </div>

        </div>

      </div> <!-- span12 -->
    </div> <!-- row -->
  </div>
</div>
{% endfor %}
{% show_more %}


