{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
<style type="text/css">
  #sex_field{
    Display:none;
  }
  #birthday_field{
    Display:none;
  }
  #mobile_field{
    Display:none;
  }
  #website_field{
    Display:none;
  }
  .ico-edit{width:22px; height:22px;cursor: pointer;}
</style>
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />

<script type="text/javascript">
  function edit_animation(editbox, hidebox, showbox){
    $(editbox).click(function() {
      $(hidebox).slideUp('normal');
      $(showbox).slideDown('normal');
    });
  }
  $(function() {
    edit_animation('#edit_sex','#sex_box','#sex_field');
    edit_animation('#edit_birthday','#birthday_box','#birthday_field');
    edit_animation('#edit_mobile','#mobile_box','#mobile_field');
    edit_animation('#edit_website','#website_box','#website_field');
  });
</script>

<script>
function edit_sex_callback(data){
  // alert(data.done)
  if (data.done){
    $.sticky('<B> your gender changed</b>');
    $('#sex_field').slideUp('normal');
    $('#sex_box').slideDown('normal');
    document.getElementById("sex_text").innerHTML = data.sex;	
    }else{
    $.sticky(data.errors);
  }
}

function edit_birthday_callback(data){
  if (data.done) {
    $.sticky('<B> your birthday changed</b>');
    $('#birthday_field').slideUp('normal');
    $('#birthday_box').slideDown('normal');
    document.getElementById("birthday_text").innerHTML = data.birthday;	
  } else {
    $.sticky(data.errors);
  }
}

function edit_mobile_callback(data){
  // alert(data.done)
  if (data.done){
    $.sticky('<B> your mobile changed</b>');
    $('#mobile_field').slideUp('normal');
    $('#mobile_box').slideDown('normal');
    document.getElementById("mobile_text").innerHTML = data.mobile;	
  }else{
    $.sticky(data.errors);
  }
}

function edit_website_callback(data){
  // alert(data.done)
  if (data.done){
    $.sticky('<B> your website changed</b>');
    $('#website_field').slideUp('normal');
    $('#website_box').slideDown('normal');
    document.getElementById("website_text").innerHTML = data.website;	
  }else{
    $.sticky(data.errors);
  }
}

</script>
{% endblock js %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox post">
          <h3>{{ user.get_full_name}} Profile</h3> 
          <hr />
          <br />




            <div id="sex_box">
              <vahid id="sex_text">{{ user.userprofile.sex }}</vahid> <a id="edit_sex"  alt="Edit"><img alt="Edit" src="{%static "img/Edit.ico" %}" class="ico-edit"/></a>
            </div>

            <div id='sex_field'>
              {{ form.sex }} <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_sex(edit_sex_callback,{'sex':$('#id_sex').val()})">change</button>
            </div>


            <br />
            <br />


            <div id="birthday_box">
              <vahid id='birthday_text'>{{ user.userprofile.birthday}}</vahid><a id="edit_birthday" alt="Edit"><img alt="Edit" src="{%static "img/Edit.ico" %}" class="ico-edit"/></a>
            </div>
            <div id='birthday_field'>
              <br />
              {{ form.year }}	{{ form.month}}{{ form.day}}	
              <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_birthday(edit_birthday_callback,{'day':$('#id_day').val(),'year':$('#id_year').val(),'month':$('#id_month').val()} )">change</button>
              <br />
            </div>



          <h4> Contact Information </h4>

            {% if user.userprofile.mobile%}

              <div id="mobile_box">
                <vahid id='mobile_text'>{{ user.userprofile.mobile }}</vahid><a id="edit_mobile" alt="Edit"><img alt="Edit" src="{%static "img/Edit.ico" %}" class="ico-edit"/></a>
              </div>
              <div id="mobile_field">
                {{form.mobile}}

                <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_mobile(edit_mobile_callback,{'mobile':$('#id_mobile').val()} )">change</button>

              </div>


            {%else%}
            <div id='mobile_text'>
              {{form.mobile}} // #TODO: Re edit is not work
              <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_mobile(edit_mobile_callback,{'mobile':$('#id_mobile').val()} )">change</button>
            </div>
            {%endif%}



            {% if user.userprofile.website%}

              <div id="website_box">
                <vahid id='website_text'>{{ user.userprofile.website }}</vahid><a id="edit_website" alt="Edit"><img alt="Edit" src="{%static "img/Edit.ico" %}" class="ico-edit"/></a>
              </div>
              <div id="website_field">
                {{form.website}}

                <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_website(edit_website_callback,{'website':$('#id_website').val()} )">change</button>

              </div>


            {%else%}
            <div id='website_text'>
              {{form.website}} // #TODO: Re edit is not work
              <button class="btn" type="button" onmousedown="Dajaxice.darkoob.social.edit_website(edit_website_callback,{'website':$('#id_website').val()} )">change</button>
            </div>
            {%endif%}





          <h4> Educations </h4>
            {% for education in user.userprofile.education_set.all %}
              {{ education.school.name }}
              </br>
            {%endfor%}
          <h4> Location </h4>
            {{ user.userprofile.city }}, {{ user.userprofile.city.country }}

          <h4> Followed </h4>


          <h4> Follower </h4>
        </div> <!-- post -->
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock %}





