{% load endless %}
{% paginate 1,1 followers %}
    {% for user in followers %}
        <div class="row-fluid">
          <div class="span12">
            <div class="sidebox post">
              <div class="row-fluid">
                <div class="post_head">
                  <div class="span2">
                    <div class="thumb">
                    </div>
                  </div> <!-- span2 -->
                  <div class="span9">
                    <div class="username">
                      {{ user }}
                    </div>
                  </div> <!-- span9 -->
                  <div class="span1 pull-right">
                    <div class="submitted_time">
                      
                    </div>
                  </div> <!-- span1 -->
                </div> <!-- post_head -->
              </div> <!-- row -->
              <div class="row-fluid">
                <div class="span12">
                  <div class="post_content">

                  </div> <!-- content -->
                </div> <!-- span12 -->
            </div> <!-- sidebox post -->
          </div> <!-- span12 -->
        </div> <!-- row -->
    {% endfor %}
{% show_more %}
