{% extends "social/user_profile.html" %}
{% load staticfiles %}

{% block following_active %}
<li class="active">
    <a href="{% url 'social:user_following' username=user.username %}"><i class="icon-heart"></i> Following </a>
</li>
{% endblock following_active%}

{% block right_sidebox %}
<div class="sidebox post">
  <p>
    <b>{{ user.first_name|capfirst }}'s Following</b>
    {% include 'social/person_bar_page.html' %}
  </p>
</div>
{% endblock right_sidebox %}