{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />

{% endblock js %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox post">
          <legend>You start a new migration</legend>
          <p class="text-success">
            you will start a new book migration for<b> {{ book.title|capfirst }}</b> book.<br />
            please write key in your book and give book to another person.<br />
            will be used from this key to validate a person...
          </p>
          key is:
          <div class="well">
            <h2> {{ private_key }}</h2>
          </div>

        </div> <!-- post -->
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock %}





