{% extends "base/profile_base.html" %}
{% load staticfiles %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/home_style.less" %}">
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static "js/sticky.js" %}"></script>
<link rel="stylesheet" href="{% static "css/sticky.css" %}" type="text/css" />

<script type="text/javascript">
function book_status_callback(data){
  if (data.status){
    document.getElementById("new_migration_form").submit();
  }
  else{
    $.pnotify({
      title: 'Error',
      text: 'This book no exsist',
      type: 'error',
      opacity: .8
    })
  }
}
</script>

{% endblock js %}


{% block main %}
<style>
.typeahead_wrapper { display: block; height: 30px; }
.typeahead_photo { float: left; max-width: 30px; max-height: 30px; margin-right: 5px; }
.typeahead_labels { float: left; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }
</style>
<script src="{% static "/static/js/underscore.min.js" %}"></script>


<script type="text/javascript">
$(document).ready(function() {
  $(function(){
    var bondObjs = {};
    var bondNames = [];

    var throttledRequest = _.debounce(function(query, process){
      $.ajax({
        url: '/book/look'
        ,type: "GET"
        ,data: { query: $('#title-look').val()}
        ,cache: false
        ,success: function(data){
          bondObjs = {};
          bondNames = [];
          _.each( data, function(item, ix, list){
            bondNames.push( item.book_title );
            bondObjs[ item.book_title ] = item;
          });
          process( bondNames );
        }
      });
    });

    $(".typeahead").typeahead({
      source: function ( query, process ) {
        throttledRequest( query, process );
      }
      ,highlighter: function( item ){
        var bond = bondObjs[ item ];

        return '<div class="bond">'
        + "<div class='typeahead_wrapper'>"
        +'<img class=\'typeahead_photo\' src="' + bond.photo + '" />'
        + "<div class='typeahead_labels'>"
        +'<div class=\'typeahead_primary\'>' + bond.book_title + '</div>'
        + "<div class='typeahead_secondary'>" + bond.author_name + "</div>"
        +'</div>'
        +'</div>';
      }
      , updater: function ( selectedName ) {
        $( "#title-look" ).val( bondObjs[ selectedName ].id );
        return selectedName;
      }
    });
  });
});

</script>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span12">
        <div class="sidebox post">
          <legend>I want to start a new book migrtion</legend>
          <dl>
            <dt>What's Book migration?</dt>
            <dd>
              Bird migration is the regular seasonal movement, often north and south along a flyway between breeding and wintering grounds, undertaken by many species of birds. Migration, which carries high costs in predation and mortality, including from hunting by humans, is driven primarily by availability of food. Migration occurs mainly in the Northern Hemisphere where birds are funnelled on to specific routes by natural barriers such as the Mediterranean Sea.
              <a  href="http://en.wikipedia.org/wiki/Bird_migration">read more</a>
            </dd>

            <dt>Migration Lisence</dt>
            <dd>
              A license may be granted by a party ("licensor") to another party ("licensee") as an element of an agreement between those parties. A shorthand definition of a license is "an authorization (by the licensor) to use the licensed material (by the licensee)."
              In particular, a license may be issued by authorities, to allow an activity that would otherwise be forbidden. It may require paying a fee and/or proving a capability. The requirement may also serve to keep the authorities informed on a type of activity, and to give them the opportunity to set conditions and limitations.
              <a href="http://en.wikipedia.org/wiki/License">read more</a>
            </dd>
          </dl>

          <form id="new_migration_form" action="{% url 'migration:new_migration' %}" method='post'>
            {% csrf_token %}

            {{ form.book }}


<!--             <input
            name="book_title"
            type="text"
            id="title-look"
            # class="span6 typeahead"
            placeholder="Username"
            # autocomplete="off"
            data-provide="typeahead"
            />
 -->

            {{ form.starter_message }}<br />
            <div id="added-users"></div>

            TODO: Redirect to started page(see Views.py)<br/>
            <input type="checkbox" id="accept">I Accept Todo: Accept migration lisence</input>

            <button class="btn btn-large btn-block btn-primary" type="button" onclick="Dajaxice.darkoob.migration.book_status(book_status_callback,{'book_title':$('#title-look').val()})">Start New Migration</button>
          </form>      
        </div> <!-- post -->
      </div> <!-- span12 -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->
{% endblock %}





