{% extends "base/base.html" %}

{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load bootstrap_toolkit %}

{% block css %}
<link rel="stylesheet" type="text/less" href="{% static "/static/css/index_style.less" %}">
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static "/static/js/index.js" %}"></script>
{% endblock js %}

{% block title %}
Darkoob
{% endblock title %}

{% block body %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6 offset3 top">
        <div class="row-fluid">
          <div class="span1 logo_img">
            <img src="{% static "/static/img/logo.png" %}">
          </div>
          <div class="span1 logo_text">
            Darkoob
          </div>
          <div class="span8 offset2">
            <form id="id_login_form" class="form-inline login" method="post" action="{% url "social:login" %}">
              {% csrf_token %}
              {% for field in login_form %}
                  {{ field }}
              {% endfor %}
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6 offset3 middle">
        <div class="row-fluid">
          <div class="span9 offset1 signup">
            <legend>Sign up</legend>
          </div>
          <div class="span6 offset1 signup">
            <div id="id_form_error" class="alert alert-error" style="display: {% if error %}block{% else %}none{% endif %};">
              {{ error }}
            </div>
            <form id="id_signup_form" method="post" action="{% url "social:signup" %}">
              {% csrf_token %}
              <div class="controls">
                {# {{ signup_form.username }} #}
                {% if form.errors %}
                  <p style="color: red;">
                    Please correct the error{{ form.errors }} below.
                  </p>
                {% endif %}
              </div>
              <div class="controls controls-row">
                {{ signup_form.first_name }}
                {{ signup_form.last_name }}
              </div>
              <div class="controls controls-row">
                {{ signup_form.password }}
                {{ signup_form.confirm_password }}
              </div>
              <div class="controls">
                {{ signup_form.email }}
              </div>
              <div class="controls">
                {{ signup_form.sex }}
              </div>
              <div class="controls controls-row">
                {{ signup_form.year }}
                {{ signup_form.month }}
                {{ signup_form.day }}
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Sign Up!</button>
                <button class="btn" onClick="reset_form();">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>
$("#id_signup_form").submit(function() {
  pass = $("#id_password");
  confirm_pass = $("#id_confirm_password");
  if (pass.val() == confirm_pass.val()) {
    return true;
  } else {
    console.log(pass.val() + " == " + confirm_pass.val());
    $("#id_form_error").css("display", "block").text("Your passwords don't match.");
    return false;
  }
})
</script>


{% endblock body %}
<script>
  $('form').bind('invalid', function(event) {
    event.preventDefault();
  });
</script>
