{% load avatar_tags %}
{% load staticfiles %}

<div class="row-fluid" id="id_post_id_{{ post.id }}">
  <div class="span12">
    <div class="sidebox post">
      <div class="row-fluid">
        <div class="post_head">
          <div class="span2">
            <div class="thumb">
                {% avatar review.user %}
            </div>
        </div> <!-- span2 -->
        <div class="span9">

            <div class="username">
              <legend>{{review.title}}</legend>
              {{ review.user.get_full_name|capfirst }}

          </div>
      </div> <!-- span9 -->
      <div class="span1 pull-right">
        <div class="submitted_time" style="left-right: -3em;">
          <small>{{ review.submitted_time|timesince }}</small>
      </div>
  </div> <!-- span1 -->
</div> <!-- post_head -->
</div> <!-- row -->
<div class="row-fluid">
    <div class="span12">
      <div class="post_content">
        <div class="row-fluid">
            {{ review.text }}


              <div class="star" review_id={{ review.id }} current_rate={{ review.rating.get_rating }}></div>  


        </div>
    </div>
</div> <!-- content -->
</div> <!-- span12 -->
</div> <!-- sidebox post -->
</div> <!-- span12 -->
</div> <!-- row -->

