@light_grey: #f6f6f6;
@border: #e5e5e5;
@middle_grey: #f2f2f2;
@dark_grey: #353535;

body {
  background-color: @light_grey;
}

a:hover {
  text-decoration: none;
}

.border-radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.inset-box-shadow(@color) {
  box-shadow: inset 0 0 1px 2px @color;
  -moz-box-shadow: inset 0 0 1px 2px @color;
  -webkit-box-shadow: inset 0 0 1px 2px @color;
}

.box-shadow(@color; @style: 3px 3px 0 1px) {
  box-shadow: @style @color;
  -moz-box-shadow: @style @color;
  -webkit-box-shadow: @style @color;
}
