@import "common_style.less";

.simple_box {
  background-color: white;
  border: 1px solid @border;
  text-align: left;
  margin-bottom: .5em;
  display: block;
  font-size: .8em;

  p, textarea, em, strong, small {
    margin-left: 1em;
    margin-top: 1em;
  }

  form {
    margin-left: 1em;
  }
}

.sidebox-head {
  color: darken(@border, 50%);
  //margin-left: .6em;
  display: block;
  font-family: Verdana;
}

.quote {
  height: auto;
}

.close {
  margin-right: .7em;
}

.suggestion {
  .simple_box;
}

.groups {
  ul {
    margin-left: 2.5em;
    margin-top: -.5em;
  }
}

.sidebox {
  .simple_box;
  font-size: 1em;
  .box-shadow(@middle_grey);
}

.new_post_container {
  margin-bottom: -1.5em;
  padding-left: 1.5em;
}

.new_post_button {
  margin-top: 3em;
}

#set_quote {
  margin-right: 1.5em;
  margin-top: -1.7em;
}

.thumbnails {
  .row-fluid {
    margin-bottom: 1em;
    margin-left: 1em;
    display: block;
  }

  .row-fluid:first-child {
    margin-top: 1em;
  }

  .row-fluid:last-child {
    margin-bottom: .3em;
  }

  .thumbnail {
  }

}

.suggestion-info {
  margin-top: .5em;
  margin-left: 1em;
  display: inline;

  .username {
    font-family: sans-serif;
    font-size: 1;
    font-weight: bold;

    a:link, a:visited {
      color: @dark_grey;
    }
    a:hover {
      color: darken(#08c, 15%);//lighten(@dark_grey, 20);
    }
  }

  .small-info {
    font-family: sans-serif;
    font-size: .8em;
    margin-top: -.5em;
  }
}

.migrations {
  display: none;

  p {
    margin: 1em;
  }
}

.migrations-link {
  margin-right: -8.8em;
  margin-top: -.8em;
  cursor: pointer;
  color: darken(@light_grey, 20%);

  i {
    margin-top: .1em;
  }
}

.migrations-link-inactive {
  color: darken(@light_grey, 20%);

  i {
    opacity: 0.5;
  }
}

.migrations-link-active {
  color: darken(@light_grey, 70%);

  i {
    opacity: 1;
  }
}

.migration {
  display: block;
  margin: 1em;

  .migration-book {
    border: 1px solid @border;
    padding: 2px;
    display: inline-block;
  }

  .migration-hop {
    display: inline-block;

    img {
      .border-radius(100%);
    }
  }
}

