@import "common_style.less";

.post-head {
  margin-top: .5em;

  .thumb {
    width: 3em;
    height: 3em;
    padding: 2px 2px 2px 2px;
    background-color: white;
    border: 1px solid darken(@border, 10%);
    .border-radius(3px);
    margin-left: 1em;
    display: inline;
    float: left;
  }
  
  .post-head-box {
  //  background-color: @light_grey;
  //  border: 1px solid @border;
    display: inline;
    height: 2.4em;
    float: left;
    margin-top: .7em;
  }

  .username {
    font-family: sans-serif;
    display: inline;
    font-size: 1em;

    a {
      color: @dark_grey;
    }
    
    a:hover {
      color: darken(#08c, 15%);//lighten(@dark_grey, 20);
    }
  }

  .small-info {
    padding-left: .4em;
    margin-top: -.5em;
    font-size: .8em;
  }
}

.post_content {
  margin: 1.5em;
  font-family: Courier;
  font-size: .9em;
  word-wrap: break-word;
}

.noks {
  display: inline;
  margin-top: 1em;
  font-size: .9em;
  font-family: serif;
}

