{% load avatar_tags %}
{% load staticfiles %}
<div class="row-fluid" id="id_post_id_{{ post.id }}">
  <div class="span12">
    <div class="sidebox post">
      <div class="row-fluid">
        <div class="span6">
          <div class="post-head">
            <div class="row-fluid">
              <a href="{% url 'social:user_profile' username=post.user.username %}">
                <div class="thumb pull-left">
                  {% avatar post.user %}
                </div>
              </a>
              <div class="post-head-box">
                <div class="username">
                  <a href="{% url 'social:user_profile' username=post.user.username %}"><strong>{{ post.user.first_name }} {{post.user.last_name }}</strong></a>
                </div>
                <div class="row-fluid">
                  <div class="small-info">
                    <small>{{ post.submitted_time|timesince }}</small>
                  </div>

                </div> <!-- row -->
              </div> <!-- post-head-box -->

            </div> <!-- row -->
          </div> <!-- post-head -->
        </div> <!-- span6 -->
      </div> <!-- row -->
      <div class="row-fluid">
        <div class="span12">
          <div class="post_content">
            <div class="row-fluid">
              {{ post.text }}
            </div>
            <div class="row-fluid">
              <button class="btn  btn-mini noks" data-toggle="tooltip">
                <i class="icon-chevron-right" onclick="Dajaxice.darkoob.post.nok(callback_nok_post,{'post_id':{{post.id}}})"></i>
                <span>{{ post.noks.votes }}</span>
              </button>
            </div>
          </div> <!-- post_content -->
        </div> <!-- span12 -->
      </div> <!-- row -->
    </div> <!-- sidebox post -->
  </div> <!-- span12 -->
</div> <!-- row -->

